html/*
attic/*
/.project
/.cproject
/.pydevproject
/.externalToolBuilders
/.settings
.directory
generated*
sysroots
bitbake-logs
/temp
*.o
src/nmea2exif
src/garminusb2exif                                                                                                                                                        
src/garminusb2nmea
src/log_imu
src/.depend

doxygen.tag
/image
/scripts
/html